html, body {
  height: 100%;
  overflow: hidden;
  background-color: #373e48;
}

.country {
  filter: none;
  fill: #373e48;
}

.country:hover {
  fill: #7a8a98;
  filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, .7));
}

#map {
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .2;
}

#country_view {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

@keyframes country_view_appearance {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

#country_view_country {
  height: 100%;
  width: 30%;
  float: left;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: #373e48;
  animation-name: country_view_appearance;
  animation-duration: .3s;
}

#country_view_desc {
  height: 100%;
  width: 70%;
  float: right;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: #373e48;
  animation-name: country_view_appearance;
  animation-duration: .3s;
}

#country_view_country_svg {
  width: 100%;
  height: 100%;
  z-index: 4;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0;
  animation-name: country_view_appearance;
  animation-duration: 1s;
}

#country_view_country_path {
  fill: #7a8a98;
}

#country_view_country_path:hover {
  fill: #7a8a98;
  filter: none;
}
